ul, li {
  list-style-type: none;
}

li {
  margin-bottom: 0.5rem;
}

.profile-container{
  display: flex;
  width: 60%;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  margin: 1rem;
  background: linear-gradient(var(--tradewind-600), var(--tradewind-700));
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) transform 0.5s;
}

.profile-container:hover {
  transform: scale(102%, 102%);
}

.name{
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #fff;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.img-profile{
  width: 30%;
  border-radius: 3px;
  margin-right: 1rem;
}

.list{
  margin-bottom: 1rem;
}

.resalted {
  font-weight: bold;
  color: var(--tradewind-100);
}

.info-container > p {
  margin-bottom: 1rem;
}

.info-container > div{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.info-container > div > span{
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.info-container > div > div  > button {
  margin-right: 1.2rem;
  background: transparent;
  border: none;
}

.info-container > div > div > button > a > img {
  width: 25px;
}