ul, li {
  list-style-type: none;
}

.profile-container{
  display: flex;
  width: 60%;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  margin: 2rem;
  background-color: #02144e;
}

.name{
  margin-bottom: 1rem;
  color: linear-gradient(blue, pink);
}

.info-container {
  display: flex;
  flex-direction: column;
}

.img-profile{
  width: 300px;
  height: 300px;
  border-radius: 3px;
  margin-right: 1rem;
}

.list{
  margin-bottom: 1rem;
}