ul, li {
  list-style-type: none;
}

.profile-container{
  display: flex;
  width: 60%;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  margin: 2rem;
  background: linear-gradient(var(--tradewind-600), var(--tradewind-700));
}

.name{
  margin-bottom: 1rem;
  color: var(--tradewind-100);
}

.info-container {
  display: flex;
  flex-direction: column;
}

.img-profile{
  width: 300px;
  height: 300px;
  border-radius: 3px;
  margin-right: 1rem;
}

.list{
  margin-bottom: 1rem;
}

.resalted {
  font-weight: bold;
}